.menu, .menuUser{
  top: 100%;
  background-color: #F3F3F3;
  padding: 0px 16px;
  height: 0px;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 20%);
}

.menu a, .menuUser a{
  text-decoration: none;
  color: #585858;
}

.menu div, .menuUser div{
  width: 150px;
}

.menu div div, .menuUser div div{
  padding: 24px 0px;
  color: #585858;
  border-bottom: 1px solid black;
}

.menu div div:last-child, .menuUser div div:last-child{
  border-bottom: none;
}

.menu a:hover, .menuUser a:hover {
  color: #000438;
}

.menu{
  left: 2%;
}

header{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 20%);
}
